<div class="card">
  <div class="row">
    <div class="col-50">
      <div class="card-body">
        <h4 class="tittle">Normal Buttons</h4>
        <p class="description">Use any of the available button classes to quickly create a styled button.</p>
        <div class="template-demo">
          <button class="btn btn-fw btn-primary">Primary</button>
          <button class="btn btn-fw btn-secundary">Secundary</button>
          <button class="btn btn-fw btn-success">Success</button>
          <button class="btn btn-fw btn-danger">Danger</button>
          <button class="btn btn-fw btn-warning">Warning</button>
          <button class="btn btn-fw btn-info">Info</button>
          <button class="btn btn-fw btn-light">Light</button>
          <button class="btn btn-fw btn-dark">Dark</button>
        </div>
      </div>
    </div>
    <div class="col-50">
      <div class="card-body">
        <h4 class="tittle">Outlined Buttons</h4>
        <p class="description"></p>
        <div class="template-demo">
          <button class="btn btn-outline-primary">Primary</button>
          <button class="btn btn-outline-secundary">Secundary</button>
          <button class="btn btn-outline-success">Success</button>
          <button class="btn btn-outline-danger">Danger</button>
          <button class="btn btn-outline-warning">Warning</button>
          <button class="btn btn-outline-info">Info</button>
          <button class="btn btn-outline-light">Light</button>
          <button class="btn btn-outline-dark">Dark</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-50">
      <div class="card-body">
        <h4 class="tittle">Normal Buttons</h4>
        <p class="description">Use any of the available button classes to quickly create a styled button.</p>
        <div class="template-demo">
          <button class="btn btn-icons btn-rounded btn-primary">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-secundary">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-success">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-danger">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-warning">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-info">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-light">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-rounded btn-dark">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-primary">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-secundary">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-success">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-danger">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-warning">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-info">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-light">
            <i class="icon-3d_rotation"></i>
          </button>
          <button class="btn btn-icons btn-inverse-dark">
            <i class="icon-3d_rotation"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>