@import '../../styles/_variables';
@import '../../styles/_mixins';
.card {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-body {
        background: white;
        flex: 1 1 auto;
        padding: 28px;
        .title {
            font-size: $font-md;
            font-weight: 500;
            text-transform: capitalize;
        }
        .description {}
        .btn {
            margin: 10px;
        }
    }
}