@import '../../styles/_variables';
@import '../../styles/_mixins';
.content-wrapper {
    display: flex;
    background: #f2f8f9;
    padding: 24px 27.2px;
    flex-direction: column;
}

.card {
    background: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 28px;
        .title {
            font-weight: 500;
            text-transform: capitalize;
        }
        .description {}
        .btn {
            margin: 10px;
        }
    }
}