<div class="card">
  <div class="row">
    <div class="col-50">
      <div class="card-body">
        <h4 class="tittle">Normal Buttons</h4>
        <p class="description">Use any of the available button classes to quickly create a styled button.</p>
        <div class="template-demo">
          <button class="btn-normal-primary">Primary</button>
          <button class="btn-normal-secundary">Secundary</button>
          <button class="btn-normal-success">Success</button>
          <button class="btn-normal-danger">Danger</button>
          <button class="btn-normal-warning">Warning</button>
          <button class="btn-normal-info">Info</button>
          <button class="btn-normal-light">Light</button>
          <button class="btn-normal-dark">Dark</button>
        </div>
      </div>
    </div>
    <div class="col-50">
      <div class="card-body">
        <h4 class="tittle">Outlined Buttons</h4>
        <p class="description"></p>
        <div class="template-demo">
          <button class="btn-outline-primary">Primary</button>
          <button class="btn-outline-secundary">Secundary</button>
          <button class="btn-outline-success">Success</button>
          <button class="btn-outline-danger">Danger</button>
          <button class="btn-outline-warning">Warning</button>
          <button class="btn-outline-info">Info</button>
          <button class="btn-outline-light">Light</button>
          <button class="btn-outline-dark">Dark</button>
        </div>
      </div>
    </div>
  </div>
</div>