@mixin border-radius($round) {
    border-radius: $round;
}

@mixin button($min-width) {
    cursor: pointer;
    font-size: $font-md;
    height: 34px;
    line-height: 1;
    margin: 8px 8px 0 0;
    min-width: $min-width;
    text-align: center;
}

@mixin button-normal($color) {
    @include button(120px);
    color: $white;
    background-color: $color;
    &:hover {
        opacity: 0.4;
    }
}

@mixin button-outline($color) {
    @include button(120px);
    border: solid 1px;
    background-color: transparent;
    background-image: none;
    color: $color;
    border-color: $color;
    &:hover {
        color: $white;
        background-color: $color;
        border-color: $color;
    }
}