// 16px * 0.0625 = 1rem
$p: 12px;
$h1: 35px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 16px;
$h6: 15px;
$p:13px;
$black_text:#030104;
$back_light:#2e2e2e;
$blue_main:#28384D;
$blue_second: #666F85;
$blue_bg: #edf0f6;
$blue_border: #d3d6e0;
$blue_header: #35455D;
$blue_light:#3191CF;
$gray_text: #545354;
$white:#ffffff;
$red: #d15858;
$yellow: #f8f868;
$green: #73d158;
$primary:#1d74c0;
$secundary:#e5e5e5;
$success:#00ce68;
$danger:#e02624;
$warning:#ffaf00;
$info:#8862e0;
$light:#f3f5f6;
$dark:#2e3345;