@import '_variables';
.btn {
    padding: 10px 22px;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    i {
        margin-right: 5px;
        line-height: initial;
    }
    &.btn-icons {
        width: 40px;
        height: 40px;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        i {
            margin: auto;
            line-height: initial;
        }
    }
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    &.btn-fw {
        min-width: 120px;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
    &.btn-rounded {
        border-radius: 50%;
    }
    &.btn-sm {
        font-size: 12px;
    }
    &.btn-lg {
        font-size: 16px;
    }
    &.btn-xs {
        // padding: $btn-padding-y-xs $btn-padding-x-xs;
        font-size: 10px;
    }
}

$colors: ( 'primary', $primary),
('secundary', $secundary),
('success', $success),
('danger', $danger),
('warning', $warning),
('info', $info),
('light', $light),
('dark', $dark);
@each $item,
$color in $colors {
    .btn-#{$item},
    .btn-outline-#{$item},
    .btn-inverse-#{$item} {
        @if $item=='secundary' or $item=='light' {
            color: $black_text;
        }
        @else {
            color: $white;
        }
    }
    .btn-#{$item} {
        background-color: $color;
        border-color: $color;
    }
    .btn-outline-#{$item} {
        border: solid 1px;
        background-color: transparent;
        background-image: none;
        color: $color;
        border-color: $color;
        &:hover {
            color: $white;
            background-color: $color;
            border-color: $color;
        }
    }
    .btn-inverse-#{$item} {
        background-color: rgba($color, 0.5);
        border-color: $color;
        &:hover {
            color: $white;
            background-color: $color;
            border-color: $color;
        }
    }
}